[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "extern/boost"]
	path = extern/boost
	url = https://github.com/boostorg/boost
[submodule "extern/armadillo"]
	path = extern/armadillo
	url = https://gitlab.com/conradsnicta/armadillo-code
